.banner {
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #deac56;
  background-image: url('/images/asfalt-light.png');
  color: #ffffff;
}

.banner img {
  height: 150px;
}

.banner h2 {
  font-size: 1.5rem;
  text-align: center;
}

.banner h2 .light-heading {
  font-weight: 300;
}

/* MEDIA QUERIES */

@media(min-width: 600px) {
  
  .banner {
    height: 520px;
    justify-content: space-around;
  }
  
  .banner img {
    height: 256px;
  }

  .banner h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  header.banner {
    height: 100vh;
    width: 34%;
    position: fixed;
  }
}
