.header {
  height: 520px;
  /* height: 400px; */
  width: 100%;
  position: absolute;
  top: 0;
  /* top: 120px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-color: #deac56;
  background-image: url('/images/asfalt-light.png');
  color: #ffffff;
}

.light-heading {
  font-weight: 300;
}