.banner {
  height: 335px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: #deac56;
  background-image: url('/images/asfalt-light.png');
  color: #ffffff;
}

.banner img {
  height: 150px;
}

.banner h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}

.banner h2 .light-heading {
  font-weight: 300;
}

/* MEDIA QUERIES */

@media(min-width: 600px) {
  
  .banner {
    height: 520px;
  }
  
  .banner img {
    height: 256px;
  }

  .banner h2 {
    font-size: 2.25rem;
  }
}

@media (min-width: 1060px) {
  
  .outer-banner {
    width: 40%;
    margin-top: 5rem;
    position: fixed;
    top: 120px;
  }

  .banner {
    max-width: 360px;
    max-height: 360px;
    margin: 0 auto 0 0;
  }

  .banner img {
    height: 200px;
  }
}
