.outer-navbar {
  background-color: #4056A1;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.navbar {
  margin: 0 auto;
  max-width: 1265px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  color: #FFFFFF;
}

.navbar .logo {
  display: flex; /* necessary so that the logo is vertically aligned with the `button.toggle-tweet-button` element on the right hand side */
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}

.navbar .logo.logo-center {
  width: 100%;
  text-align: center;  
}

.navbar button.toggle-tweet-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* get rid of button attributes */
.navbar button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.fa-angles-down {
   color: red;
}

.navbar button.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 60px;
  width: 60px;
  background-color: #ff1402;
  color: #ffffff;
  border-radius: 50%; 
}

.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* MEDIA QUERIES */

@media (min-width: 375px) {
  .navbar button.toggle-tweet-button {
    font-size: 1.25rem;
  }
}

@media (min-width: 600px) {
  .navbar {
    justify-content: space-between;   
  }

  .navbar .logo {
    font-size: 2rem;
  }

  .navbar button.toggle-tweet-button {
    font-size: 1.5rem;
  }
} 

@media (min-width: 1024px) {
  .outer-navbar {
    height: 120px;
  }
  
  .navbar {
    height: 120px;    
  }

  .navbar .logo.logo-center {
    width: auto;
    text-align: left;  
  }
}