.navbar {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #4056A1;
  color: #FFFFFF;
}

.navbar .logo {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
  line-height: 56px;
}

.navbar .cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
   color: red;
}