.navbar {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #4056A1;
  color: #FFFFFF;
}

.navbar .logo {
  display: flex; /* necessary so that the logo is vertically aligned with the CTA on the right hand side */
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

/* get rid of button attributes */
.navbar button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar button.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
   color: red;
}

.navbar button.scroll-to-top {
  display: none;
  position: fixed;
  bottom: .5rem;
  right: .5rem;
  height: 60px;
  width: 60px;
  background-color: #ff1402;
  color: #ffffff;
  border-radius: 50%; 
}