.navbar {
  height: 6.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #4056A1;
}

.navbar .container {
  max-width: 1265px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-around;
  color: #FFFFFF;
}

.navbar .logo {
  display: flex; /* necessary so that the logo is vertically aligned with the `.toggle-tweet` element on the right hand side */
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
}

.navbar .logo.logo-center {
  width: 100%;
  text-align: center;  
}

/* get rid of button attributes */
.navbar button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar .toggle-tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.fa-angles-down {
   color: red;
}

.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.navbar .scroll-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 60px;
  width: 60px;
  background-color: #ff1402;
  color: #ffffff;
  border-radius: 50%; 
}

/* MEDIA QUERIES */

@media (min-width: 375px) {

  .navbar .toggle-tweet {
    font-size: 1.25rem;
  }
  
}

@media (min-width: 600px) {

  .navbar .container {
    justify-content: space-between;   
  }

  .navbar .logo {
    font-size: 2rem;
  }

  .navbar .toggle-tweet {
    font-size: 1.5rem;
  }

} 

@media (min-width: 1024px) {

  .navbar {
    height: 7.5rem;    
  }

  .navbar .logo.logo-center {
    width: auto;
    text-align: left;  
  }

}