.navbar {
  height: 120px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  background-color: #4056A1;
  color: #FFFFFF;
}

.navbar .logo {
  display: flex; /* necessary so that the logo is vertically aligned with the CTA on the right hand side */
  flex-direction: column;
  justify-content: center;
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

/* get rid of button attributes */
.navbar button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.navbar button.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fa-angles-down {
   color: red;
}



.navbar button.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 60px;
  width: 60px;
  background-color: #ff1402;
  color: #ffffff;
  border-radius: 50%; 
}

.arrow {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}