.navbar {
  height: 120px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  padding: 34px 1.5em 0;
  background-color: #4056A1;
  color: #FFFFFF;
}

.navbar-logo {
  font-family: 'Bungee', cursive;
  font-size: 2rem;
}

.navbar-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fa-angles-down {
   color: red;
}