.new-tweet {
  padding: 4rem 1rem 0;
}

.new-tweet form label {
  display: inline-block;
  margin-bottom: .5rem; 
  font-weight: 600;
}

#tweet-text,
#tweet-text:focus {
  width: 100%;
  padding: 0 0 .5rem;
  margin-bottom: .5rem;
  background-color: #f4f1ec;
  color: #545149;
  outline: none;
  resize: none;
  border-width: 0 0 3.5px;
  font-size: 1rem;
  font-weight: 600;
}

.new-tweet footer {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet footer button {
  padding: .25rem .5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #4056A1;
  color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
}

.new-tweet footer button:focus,
.new-tweet footer button:active {
  border-color: #FFFFFF;
  box-shadow: 0 0 0 0.2rem rgba(102,145,247,0.5);
}

.new-tweet footer .counter {
 font-size: 1.25rem;
} 

.new-tweet footer .counter.negative {
  color: red;
}