.new-tweet {
  padding: 0 1rem;
  display: none;
  margin-top: 2rem;
}

.new-tweet .error {
  display: none;
  margin-bottom: 1rem;
  padding: .75rem;
  font-size: 1rem;
  text-align: center;
  color: #721c24;
  background-color: #f8d7da;
  border: 3.5px solid #f5c6cb;
}

.new-tweet form label {
  font-weight: 600;
}

#tweet-text,
#tweet-text:focus {
  height: 5rem;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 0 .5rem;
  background-color: #f4f1ec;
  color: #545149;
  outline: none;
  resize: none;
  border-width: 0 0 3.5px;
  font-size: 1rem;
  font-weight: 600;
}

.new-tweet footer {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.new-tweet footer button {
  padding: .25rem .5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: #4056A1;
  color: #FFFFFF;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
}

.new-tweet footer button:focus,
.new-tweet footer button:active {
  border-color: #FFFFFF;
  box-shadow: 0 0 0 0.2rem rgba(102,145,247,0.5);
}

.new-tweet footer .counter {
 font-size: 1.25rem;
} 

.new-tweet footer .counter.negative {
  color: red;
}

/* MEDIA QUERIES */

@media (min-width: 600px) {

  .new-tweet .error {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }

}

@media(min-width: 800px) {

  .new-tweet {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  
}