#tweets-container {
  padding: 1rem 0 2rem;
}

.tweet {
  margin: 2rem 0 0;
  padding: 0 1rem 1rem;
  border-style: solid;
  border-width: 3.5px;
}

.tweet:hover {
  box-shadow: 6px 6px #c9cbde;
}

.tweet header {
  margin-top: 1rem;
  padding: 0 1.5rem 0 1rem;
  display: flex;
  justify-content: space-between;
} 

.tweet header .avatar-and-name {
  display: flex;
  align-items: center;
}

.tweet header .name {
  padding-left: 1rem;
}

.tweet header .handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c9cbde;
  font-weight: 600;
}

.tweet main {
  margin-top: 2rem;
  padding: 0 1.5rem 1.5rem;
  border-style: solid;
  border-width: 0 0 3.5px;
  font-weight: 600;
}

.tweet footer {
  margin-top: 0.75rem;
  padding: 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.tweet footer .date {
  font-weight: 600;
}

.tweet footer i {
  padding-left: .25rem;
  color: #4056A1;
}

.tweet footer i:first-child {
  padding-left: 0;
}

.tweet footer i:hover {
  color: #deac56;
}