.tweet {
  padding: 2rem;
}
.tweet-inner:hover {
  box-shadow: 6px 6px #c9cbde;
}
.tweet-inner {
  padding: 1rem;
  border-style: solid;
  border-width: 3.5px;
}

.tweet header {
  padding-left: 1rem;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.tweet header .avatar-and-name {
  display: flex;
  align-items: center;
}

.tweet header .name {
  padding-left: 1rem;
}

.tweet header .handle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #c9cbde;
  font-weight: 600;
}

.tweet main {
  margin-bottom: .75rem;
  padding: 0 1.5rem 1.5rem;
  border-style: solid;
  border-width: 0 0 3.5px;
  font-weight: 600;
}

.tweet footer {
  padding: 0 1.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.tweet footer .date {
  font-weight: 600;
}

.tweet footer i {
  padding-left: .25rem;
  color: #4056A1;
}

.tweet footer i:first-child {
  padding-left: 0;
}

.tweet footer i:hover {
  color: #deac56;
}