/*
 * Footer
 */

@use '../utilities/variables' as *;

.footer {
  background-color: $color-secondary;
  
  .inner {
    height: $nav-height-sm;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 0.75rem;
    text-align: center;
  }

}