/*
 * Footer
 */

@use '../utilities/variables' as *;

.footer {
  background-color: $color-secondary;
  
  .container {
    height: $nav-height-sm;
    width: 100%;
    max-width: $site-max-width;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-size: 0.75rem;
    text-align: center;
  }

}

@media (min-width: $md-breakpoint) {
  
  .footer .container {
    padding: 0 2rem;
  }
  
}
