/*
* Main
*/

@use '../utilities/variables' as *;

.main {
  width: 100%;
  margin: 0 auto 2rem;
}

/* Main Media Queries */

@media(min-width: $xl-breakpoint) {

  .main {
    width: 66%;
    max-width: $content-max-width;
    margin-top: 12.5rem;
    padding-left: 2rem;
    margin-right: 0;    
  } 
  
}