/*
 * Footer
 */

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.footer {
  background-color: $color-secondary;
}
.footer__container {
  @include container;
  @include flex($justify-content: center, $align-items: center);
  height: $nav-height-sm;
  color: $white;
  font-size: 0.75rem;
  text-align: center;
}
