/*
* Navigation
*/

@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: $color-secondary;
}

.navbar__container {
  @include container;
  @include flex($justify-content: space-between, $align-items: center);
  height: $nav-height-sm;
  color: $white;
  @include breakpoint(desktop) {
    height: $nav-height-lg;
  }
}

.navbar__logo {
  font-family: $font-secondary;
  font-size: $font-size;
  @include breakpoint(tablet) {
    font-size: 2rem;
  }
}

.navbar__button--toggle {
  @include button-empty;
  font-size: 1rem;
  @include breakpoint(phone) {
    font-size: 1.25rem;
  }
  @include breakpoint(tablet) {
    font-size: $font-size;
  }
}

.navbar__arrow {
  animation: bounce 2s infinite;
  .fa-angles-down {
    color: $color-warning;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.navbar__button--scrolltop {
  @include button-empty;
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  height: 60px;
  width: 60px;
  background-color: $color-warning;
  color: $white;
  border-radius: 50%; 
}