/*
 * New Tweet
 */

@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.new-tweet {
  padding: 0 1rem;
  display: none;
  margin-top: 2rem;
  @include breakpoint(desktop) {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.new-tweet__error {
  display: none;
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 1rem;
  text-align: center;
  color: $color-warning;
  background-color: $error-bg;
  border: 3.5px solid $color-warning;
  @include breakpoint(tablet) {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
}

.new-tweet__label {
  font-weight: $bold;
}

#new-tweet__textarea {
  // #new-tweet__textarea:focus {
  height: 5rem;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0 0 0.5rem;
  background-color: $body-bg;
  color: $font-color;
  outline: none;
  resize: none;
  border-width: 0 0 3.5px;
  font-size: 1rem;
  font-weight: $bold;
}

.new-tweet__footer {
  @include flex($justify-content: space-between);
  margin-top: 0.5rem;
  font-family: $font-secondary;
}

.new-tweet__button {
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  font-weight: $bold;
  background-color: $color-secondary;
  color: $white;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid transparent;
  &:focus,
  :active {
    border-color: $white;
    box-shadow: 0 0 0 0.2rem rgba(102, 145, 247, 0.5);
  }
}

.new-tweet__counter {
  font-size: 1.25rem;
}
.new-tweet__counter--negative {
  color: $color-warning;
}
