/*
 * Tweets and Tweets Container
 */

@use "../utilities/variables" as *;
@use "../utilities/mixins" as *;

.tweet {
  margin: 2rem 0 0;
  padding: 0 1rem 1rem;
  border-style: solid;
  border-width: 3.5px;
  &:hover {
    box-shadow: 6px 6px $color-tertiary;
  }
  &:first-child {
    @include breakpoint(desktop) {
      margin-top: 0;
    }
  }
}

.tweet__header {
  @include flex($justify-content: space-between);
  margin-top: 1rem;
  padding: 0 0.5rem;
  font-size: 1rem;
  @include breakpoint(tablet) {
    padding: 0 1.5rem 0 0.5rem;
    font-size: $font-size;
  }
}

.tweet__avatar-username-container {
  @include flex($align-items: center);
}

.tweet__avatar {
  width: 36px;
  height: 36px;
  @include breakpoint(tablet) {
    width: 48px;
    height: 48px;
  }
}

.tweet__username {
  padding-left: 1rem;
}

.tweet__handle {
  @include flex($flex-direction: column, $justify-content: center);
  color: $color-tertiary;
  font-weight: $bold;
}

.tweet__main {
  margin-top: 1rem;
  padding: 0 1rem 1rem;
  border-style: solid;
  border-width: 0 0 3.5px;
  font-size: 1rem;
  font-weight: $bold;
  @include breakpoint(phablet) {
    font-size: 1.25rem;
  }
  @include breakpoint(tablet) {
    margin-top: 2rem;
    padding: 0 1.5rem 1.5rem;
    font-size: $font-size;
  }
}

.tweet__footer {
  @include flex($justify-content: space-between);
  margin-top: 0.75rem;
  padding: 0 1rem 0;
  font-size: 0.75rem;
  @include breakpoint(tablet) {
    padding: 0 1.5rem 0;
    font-size: 1rem;
  }
}

.tweet__date {
  font-weight: $bold;
}

.tweet__footer .fa-solid {
  padding-left: 0.25rem;
  color: $color-secondary;
  &:first-child {
    padding-left: 0;
  }
  &:hover {
    color: $color-primary;
  }
}
